<div class="container">
  <div class="u-center-text u-mt-medium">
    <h1>Nhập api cần convert</h1>
    <div class="box-form">
      <div class="input-container">
        <div class="info-row">
          <div class="key">
            Nhập api: 
          </div>
          <div class="value">
            <input type="text" id="api" class="form-control">
          </div>
          <div class="btn btn-primary">Thêm (Enter)</div>
        </div>
      </div>
    </div>
    <div class="box-form">
      <div class="legend-title">Danh sách API</div>
      <div class="body">
        
      </div>
    </div>
  </div>
</div>
